<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Honance Hotel</title>
    <link rel="stylesheet" href="/css/checkin.css">
    <script src="https://kit.fontawesome.com/bfe692999b.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="nav-bar">
        <div class="nav-box">
            <img src="/img/logo-nav.png" class="nav-logo">
            <ul class="nav-menu">
                <li class="menu-kupon">
                    <i class="fa-solid fa-ticket"></i>
                    <a href="" class="kuponText">Kupon</a>
                </li>
                <li class="menu-simpan">
                    <i class="fa-solid fa-bookmark"></i>
                    <a href="" class="simpanText">Simpan</a>
                </li>
                <li class="menu-pesanan">
                    <i class="fa-solid fa-rectangle-list"></i>
                    <a href="" class="pesananText">Pesanan Saya</a>
                </li>
                <li class="menu-profile-box">
                    <div class="menu-profile">
                        <i class="fa-solid fa-user"></i>
                        <a href="" class="namaPengguna">Arif Muhamad Iqbal</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="whitespace"></div>
        <div class="reservasi">
        <% data.forEach((datas) => { %>
            <div class="form">
                <h3 class="title-reservasi">Formulir Reservasi</h3>
                <div class="input">
                    <div class="nama">
                        <h4 class="titleForm">Nama</h4>
                        <input type="text" id="formNama">
                    </div>
                    <div class="email">
                        <h4 class="titleForm">Email</h4>
                        <input type="text" id="formEmail">
                    </div>
                    <div class="notelp">
                        <h4 class="titleForm">Nomor Telepon</h4>
                        <input type="text" id="formPhone">
                    </div>
                </div>
                <div class="payment">
                    <div class="kanan">
                        <p>Rincian Biaya :</p>
                        <br>
                        <p>Harga Kamar</p>
                        <p>PPN 10%</p>
                    </div>
                    <div class="kiri">
                        <br><br>
                        <p id="hargaKamar">Rp <%= datas.price_room %> </p>
                        <p id="ppn">Rp <%= Math.ceil(datas.price_room * (10/100))%></p>
                    </div>
                </div>
            </div>
            <div class="details">
                <h3 class="namaHotel"> <img src="/img/logo-nav.png" alt="" class="logoHotel"> Honance Hotel</h3>
                <div class="detailKamar">
                    <img src="/img/rooms/<%= datas.id_room %>.jpg " alt="" id="fotoKamar">
                    <h3 class="namaKamar" id="namaKamar"><%= datas.name_room %> </h3>
                    <p>23 Oktober 2022 - 24 Oktober 2022</p>
                    <p>1 Malam</p>
                    <div class="totalPayment">
                        <h3>Total</h3>
                        <h2 class="harga">Rp <%= datas.price_room + Math.ceil(datas.price_room * (10/100)) %></h2>
                    </div>
                </div>
                <div class="buttonPay">
                    <a href="/pembayaran" class="textBayar">Bayar Sekarang</a>
                </div>
            </div>
        <% }) %> 
        </div>
    </div>
</body>
</html>